<div class="topnav">
    <h1> Home </h1>
    <a routerLink="/menu">Home</a>
    <a routerLink="/menu/ueberuns">Über uns</a>
    <a routerLink="/menu/kontakt">Kontakt</a>
    <a routerLink="/menu/info" class="active">Info</a>
  </div>
<div class="container">   
</div>   

<div class="col-lg-6">
  <div class="member d-flex align-items-start">
      <div class="member-info">
          <h1>Info</h1>
          <h3>Diese Applikation ist für die Pesonenverwaltung in der Firma verantwortlich, wir haben auch viele Informationen über die Mitarbeitende und die Firma, man kann mit hilfe der App Spesen erstellen und die auch Verwalten. <br> <br> Die App wurde von unseren Entwikler Team erstellt und die wird immer aktualisiert und verbessert, falls Sie irgendwelche probleme finden Konaktieren Sie uns bitte um die zu fixen. <br> <br> Bei Fragen können Sie uns kontaktieren und wir werden uns so schnell wie möglich mit Ihren Anliegen kümmern.</h3>
          <div id="imgDiv"><img src="https://cdn.upload.systems/uploads/Kh3zbW7z.png" width="300" height="300"></div>
      </div>
  </div>
</div>