<!-- Home page contents at the top of the page -->
<div class="topnav">
    <h1> Chur Tech </h1>
    <a routerLink="/menu"class="active">Home</a>
    <a routerLink="/menu/ueberuns">Über uns</a>
    <a routerLink="/menu/kontakt">Kontakt</a>
    <a routerLink="/menu/info">Info</a>
    <div class="topnav-right">
        <a routerLink="/" id="abmelden">abmelden</a>
    </div>
  </div>
<!-- Home page Menu as List -->
<div class="container">   
</div>   
<a routerLink="/menu/personen">
<div class="menuBtnsDiv" id="firstMenuDiv">
  <a class="menuBtns" >Personen</a>
</div>
</a>
<!-- Home page Menu as List -->
<a routerLink="/menu/abteilungen">
<div class="menuBtnsDiv">
  <a class="menuBtns">Abteilungen</a>
</div>
</a>
<!-- Home page Menu as List -->
<a routerLink="/menu/projekte">
<div class="menuBtnsDiv">
  <a class="menuBtns">Projekte</a>
</div>
</a>
<!-- Home page Menu as List -->
<a routerLink="/menu/spesen">
<div class="menuBtnsDiv">
  <a class="menuBtns">Spesen</a>
</div>
</a>