<div class="topnav">
    <h1> Chur Tech </h1>
    <a routerLink="/menu">Home</a>
    <a routerLink="/menu/ueberuns">Über uns</a>
    <a routerLink="/menu/kontakt" class="active">Kontakt</a>
    <a routerLink="/menu/info">Info</a>
    <div class="topnav-right">
      <a routerLink="/" id="abmelden">abmelden</a>
    </div>
  </div>
<div class="container">   
</div>

<div class="col-lg-6">
  <div class="member d-flex align-items-start">
      <div id="adress">
          <h1>UNSERE ANSCHRIFT</h1>
          <h3>Chur Tech<br />Bahnhofstrasse 1<br />7000 Chur<br /> Tel: +41 81 123 45 67<br />Fax: +41 81 123 45 65<br /></h3>
          <a href="mailto:info@churTech.ch">info@churTech.ch</a>
      </div>
  </div>
</div>
<div class="col-lg-6">
  <div class="member d-flex align-items-start">
      <div id="oeffnungszeiten">
          <h1>ÖFFNUNGSZEITEN</h1>
          <h3>wir stehen Ihnen gerne während den folgenden Zeiten telefonisch zur Verfügung:</h3>
          <h2><br />Montag - Donnerstag<br /></h2>
          <h3>08:00 - 12:00<br/>13:30 - 18:00</h3>
          <h2><br />Freitag<br /></h2>
          <h3>08:00 - 12:00<br/>13:30 - 16:00</h3>
      </div>
  </div>
</div>