<div class="topnav">
    <h1> Home </h1>
    <a routerLink="/menu">Home</a>
    <a routerLink="/menu/ueberuns"class="active">Über uns</a>
    <a routerLink="/menu/kontakt">Kontakt</a>
    <a routerLink="/menu/info">Info</a>
  </div>
<div class="container">   
</div>

<div class="col-lg-6">
    <div class="member d-flex align-items-start">
        <div class="member-info">
            <h1>Unser Team:</h1>
            <h2>Awab Alshaikhly</h2>
            <h3>19 Years old, IT Supporter<br />Interested in tech und likes to learn more abount new technologies<br />Talks a lot about new technologies with her friends and likes to go outside with them.<br /> Patient and focuses while working<br /></h3>
            <a href="Awab.alshaikhly@edu.tbz.ch">Awab.Alshaikhly@edu.tbz.ch</a>
            <div class="pic"><img src="https://cdn.upload.systems/uploads/IozrxvpE.png" class="img-fluid" alt="" height="200"></div>
        </div>
    </div>
</div>
<div class="col-lg-6">
    <div class="member d-flex align-items-start">
        <div class="member-info">
            <h2>Jawed Jalal</h2>
            <h3><br />25 Years old, Secretary<br />Not a tech guy. Needs time to get comfortable with technology.<br /> Talks to many people and is very helpful.<br /> Asks the others when he needs help and tries to help if he can <br /><br /></h3>
            <a href="ahmad.jalal@edu.tbz.ch">ahmad.jalal@edu.tbz.ch</a>
            <div class="pic"><img src="https://cdn.upload.systems/uploads/IozrxvpE.png" alt="" height="200"></div>
        </div>
    </div>
</div>