# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Jalal\Desktop\2019 TBZ\Informatik\2.Lehrjahr\2.Semyster\4.Quartal\M120\Projekt_Personenverwaltung\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
